<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gok.daohuai.mapper.StuMapper">
    <insert id="insertStudent">
        insert into test.t_student(password, age, gender, address, phone)
        VALUES (#{password}, #{age}, #{gender}, #{address}, #{phone})
    </insert>
    <insert id="choseCourse">
        insert into test.t_course_student(test.t_course_student.courseNo, test.t_course_student.stuId)
        VALUES (#{courseNo}, #{stuId})
    </insert>
    <update id="updateStudent">
        update test.t_student
        set password=#{password},
            age     = #{age},
            gender  = #{gender},
            address = #{address},
            phone   = #{phone}
        where StuId = #{id}
    </update>
    <select id="login" resultType="com.gok.daohuai.pojo.Student">
        select *
        from test.t_student
        where test.t_student.stuId = #{stuId}
          and password = #{password}
    </select>
    <select id="selectStudent" resultType="com.gok.daohuai.pojo.Student">
        select *
        from test.t_student
        where test.t_student.stuId = #{stuId}
    </select>
    <select id="selectAllCourse" resultType="com.gok.daohuai.pojo.Course">
        select *
        from test.t_course
    </select>
    <select id="selectCourse" resultType="com.gok.daohuai.pojo.Course">
        select *
        from test.t_course,
             test.t_course_student,
             test.t_student
        where test.t_course_student.stuId = #{stuId}
          and test.t_course_student.courseNo = t_course.courseNo
          and test.t_course_student.stuId = test.t_student.stuId
    </select>

    <select id="getCourseByLimit" resultType="course">
        select *
        from test.t_course
        where courseNo not in (select courseNo from test.t_course_student where stuId = #{stuId})
          and t_course.maxNum > t_course.applyNum
    </select>
</mapper>