<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gok.daohuai.mapper.TeacherMapper">
    <insert id="insertTeacher">
        insert into test.t_teacher (
            teacherName,
            password,
            realName,
            gender,
            state
        ) values (
            #{teacherName},
            #{password},
            #{realName},
            #{gender},
            #{state}
        )
    </insert>
    <insert id="insertClass">
        insert into test.t_course (
            courseName,
            maxNum,
            applyNum,
            teacherId,
            `desc`

        ) values (
            #{courseName},
            #{maxNum},
            #{applyNum},
            #{teacherId},
            #{desc}
        )
    </insert>
    <update id="updatePassword">
        update test.t_teacher set password = #{password} where teacherName = #{teacherName}
    </update>
    <update id="updateCourse">
        update test.t_course set courseName = #{courseName}, maxNum = #{maxNum}, applyNum = #{applyNum}, teacherId = #{teacherId}, `desc` = #{desc} where courseno = #{courseId}
    </update>
    <select id="login" resultType="com.gok.daohuai.pojo.Teacher">
        select * from test.t_teacher where teacherName = #{teacherName} and password = #{password}
    </select>
    <select id="getcourseList" resultType="com.gok.daohuai.pojo.Course">
        select * from test.t_course where teacherId = #{teacherId}
    </select>
    <select id="getcourse" resultType="com.gok.daohuai.pojo.Course">
        select * from test.t_course where courseNo = #{courseId}
    </select>
</mapper>